#wishListBox{
    /* border: 1px solid blueviolet; */
    /* margin-top: 200px; */
    padding: 30px;
    width: 55%;
}
#wishlistContainer{
    width: 90%;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid lightblue;
    padding: 20px;
}

#wishlistContainer > div{
    width: 100%;
}

#wishlistContainer > div > img{
    width: 80%;
    margin: auto;
}

#wishlistContainer > div > button{
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 30px;
    border-color: rgb(119, 182, 184);
    border: none;
    border-radius: 20px;
    background-color: yellow;
}
#wishlistContainer > div > button:hover{
    background-color: teal;
    cursor: pointer;
}

#myWishlist > a:first-child{
    margin-right: 5px;
}
#myWishlist > i + a{
    margin-left: 5px;
}
#myWishlist > a{
    font-size: 20px;
    text-decoration: none;
    color: #12284c;
}
#myWishlist{
    /* border: 1px solid blueviolet; */
    margin-top: 200px;
    padding: 30px;
    width: 55%;
    color: #12284c;
}

#myAccount{
    margin-top: 200px;
    width: 35%;
}

#btn  > a{
display: block;
margin: 15px;
height: 30px;
width: 400px;
font-size: 20px;
cursor: pointer;
color: gray;
padding: 10px;
text-decoration: none;
border: 1px solid gray;
} 

#parentBox{
    display: flex;
}

#userDetails{
    display: flex;
}
.userIcon{
    font-size: 50px;
    border: none;
    background-color: white;
}
.name > h3{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.name > h3 + a{
    border: none;
    text-decoration: underline;
    background-color: white;
    margin-left: 5px;
    color: black;
}

.reward > p{
    margin-right: 20px;
}
.spend{
    display: flex;
    background-color: #12284c;
    color: white;
    /* margin-left: 20px; */
    height: 100px;
    align-items: center;
    width: 80%;
}
.spend > div{
    margin-right: 50px;
    padding: 20px;
    font-size: 25px;
}
#myWishlist > h2{
    margin-bottom: 60px;
}

.member{
    margin-top: 15px;
    width: 169%;
    border: 1px solid blueviolet;
    padding: 10px;
    border: 1px solid lightblue;
    padding-bottom: 50px;
    border: 1px solid lightblue;
}
.member > h1{
    font-family:sans-serif;
    color: #12284c;
}
h1 + h4{
    margin-bottom: 5px;
    color: #12284c;
}
.order{
    width: 175%;
    text-align: left;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
    background-color: white;
    border: 1px solid lightblue;
}

.purchase > button{
    margin-top: 20px;
}
.purchase{
    margin-top: 40px;
}
.purchase > p{
    margin-right: 20px;
    color: #12284c;
}

/* .wish{
    margin-top: 20px;
} */
.wish > p{
    margin: 20px;
    margin-left: 30px;
    color: #12284c;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}
.wish >div{
    margin-top: 20px;
}