#myAccount {
    margin-top: 50px;
    width: 35%;
}

#btn>a {
    display: block;
    margin: 15px;
    height: 30px;
    width: 400px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    padding: 10px;
    text-decoration: none;
    border: 1px solid gray;
}

#parentBox {
    display: flex;
}

#userDetails {
    display: flex;
}

.userIcon {
    font-size: 50px;
    border: none;
    background-color: white;
}

.name>h3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.name>h3+a {
    border: none;
    text-decoration: underline;
    background-color: white;
    margin-left: 5px;
    color: black;
}

#myWishlist>a:first-child {
    margin-right: 5px;
}

#myWishlist>i+a {
    margin-left: 5px;
}

#myWishlist>a {
    font-size: 20px;
    text-decoration: none;
    color: #12284c;
}

#myWishlist {
    /* border: 1px solid blueviolet; */
    margin-top: 50px;
    /* padding: 30px; */
    width: 55%;
    color: #12284c;
}

#wishListBox {
    padding: 30px;
    width: 47%;
    /* background-color: rgb(210, 234, 234); */
}

.order {
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    text-decoration: underline;
    box-shadow: #12284c;
}

.order>button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: teal;
}

#child-order {
    margin-top: 20px;
    /* justify-content: space-around; */
}

#child-order>.search>input {
    width: 90%;
    height: 30px;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 25px;
}

#child-order>.search>input+i {
    font-size: 30px;
    color: rgb(64, 140, 165);
    margin-left: -50px;
    align-items: center;
    cursor: pointer;
}


/* medium screen */

@media all and (min-width:768px) and (max-width:1150px) {
    #parentBox {
        display: block;
        ;
    }
    #myWishlist {
        margin-top: 0px;
    }
}


/* small screen */

@media all and (min-width:0px) and (max-width:767px) {
    #parentBox {
        display: block;
    }
    #myWishlist {
        margin-top: 0px;
    }
}