*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-group{ margin: 8px 0; }
input{ height: 30px; width: 40%; padding: 5px; margin-left: 30%; padding:20px; }
button{ 
    background: #12284c; 
    color: #fff; 
    padding: 10px; 
    border: solid 1px #12284c;
    cursor: pointer;
    width:40%;
    margin-left: 30%;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    flex-flow: column;
    height: 100vh;
}
main{
    flex: 1;
    margin: 20px 5px;
}
h2{
    color: #12284c;
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 29px;
    text-align: center;
    font-family: Montserrat Light,sans-serif;
    margin-top: 10%;
    font-weight: 500;
}
p{
    letter-spacing: .5px;
    margin-top: 2%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.pTag{
    color: #6f6f71;
}
.accCr{
    color: #12284c;
    font-size: 12px;
    font-family: Montserrat Light,sans-serif;
    letter-spacing: .7px;
}
.accCrPriv{
    color: #585a5c;
    font-size: 12px;
    font-family: Montserrat Light,sans-serif;
    letter-spacing: .7px;
    margin-bottom: .8%; 
}
.submitBtn{
    letter-spacing: 2px; 
      
}
.requiredField{
    color: #585a5c;
    font-size: 8px;
    font-family: Montserrat Light,sans-serif;
    letter-spacing: .7px;
    margin-bottom: .8%; 
    margin-left: 62.5%;
}
@media screen and (max-width: 600px) {
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}