#wishListBox {
    border: 1px solid blueviolet;
    margin-top: 200px;
    padding: 30px;
    width: 55%;
}

#wishlistContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
    gap: 20px;    
=======
    gap: 20px;
>>>>>>> 7d385dcbbefc90edd26849360cbc7ac5147b0340
}

#wishlistContainer>div {
    width: 100%;
}

#wishlistContainer>div>img {
    width: 80%;
    margin: auto;
}

#myAccount {
    margin-right: 20px;
}

#wishlistContainer>div>button {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 30px;
    border-color: rgb(119, 182, 184);
    border: none;
    border-radius: 20px;
    background-color: #adbbcc;
    margin-bottom: -10px;
}

#wishlistContainer>div>button:hover {
    background-color: teal;
    cursor: pointer;
}

#myWishlist>a:first-child {
    margin-right: 5px;
}

#myWishlist>i+a {
    margin-left: 5px;
}

#myWishlist>a {
    font-size: 20px;
    text-decoration: none;
    color: #12284c;
}

#myWishlist {
    color: #12284c;
}

#myAccount {
    margin-top: 200px;
    width: 35%;
x}

#btn>a {
    display: block;
    margin: 15px;
    height: 30px;
    width: 400px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    padding: 10px;
    text-decoration: none;
    border: 1px solid gray;
}

#parentBox {
    display: flex;
}

#userDetails {
    display: flex;
}

.userIcon {
    font-size: 50px;
    border: none;
    background-color: white;
}

.name>h3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.name>h3+a {
    border: none;
    text-decoration: underline;
    background-color: white;
    margin-left: 5px;
    color: black;
}


/* <<<<<<< HEAD */
@media all and (min-width:768px) and (max-width:1150px){
    #parentBox{
        display: block;;
    }
    #myWishlist{
        margin-top: 0px;
    }
    #wishlistContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;    
=======
@media all and (min-width:768px) and (max-width:1150px) {
    #parentBox {
        display: block;
        ;
    }
    #myWishlist {
        margin-top: 0px;
    }
    #wishlistContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
>>>>>>> 7d385dcbbefc90edd26849360cbc7ac5147b0340
    }
}


/* small screen */
<<<<<<< HEAD
@media all and (min-width:0px) and (max-width:767px){
    #parentBox{
        display: block;
    }
    #myWishlist{
        margin-top: 0px;
    }
    #wishlistContainer{
=======

@media all and (min-width:0px) and (max-width:767px) {
    #parentBox {
        display: block;
    }
    #myWishlist {
        margin-top: 0px;
    }
    #wishlistContainer {
>>>>>>> 7d385dcbbefc90edd26849360cbc7ac5147b0340
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}